@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@700&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Prompt:wght@200&family=Roboto:wght@700&display=swap");

/* font-family: "Lato", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
  background: rgba(216, 216, 243, 0.9);
}

#main {
  display: grid;
  grid-template-columns: 70% 30%;

  /* display: flex; */
  /* justify-content: space-between; */
}

p {
  font-family: "Lato", sans-serif;
}

li {
  font-family: "Lato", sans-serif;
}

a {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

img {
  width: 400px;
  height: 200px;
  transition: 0.4s;
}

img:hover {
  /* transform: scale(0.5); */
  height: 300px;
  width: 500px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  justify-content: center;
}

.image-grid > img {
  margin: 10px;
}

#image-1 {
  float: right;
  margin: 15px;
  height: 310px;
}

#image-1:hover {
  height: 350px;
  width: 500px;
}

.sildebar {
  background: rgb(236, 215, 169);
}

.post {
  border: 2px solid rgb(194, 112, 58);
  margin: 10px;
}

.post-title {
  margin-left: 5px;
}

.post-text {
  margin-left: 5px;
  margin-right: 5px;
}

.post > a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: rgb(82, 36, 6);
  font-size: 20px;
  transition: 0.4s;
}

.post > a:hover {
  color: rgb(196, 122, 74);
}
